<div class="header">
  <div class="header-container d-flex flex-row align-items-center">
    <a class="navbar-brand">
      <img src="assets/img/logos/raiba.svg" alt="logo"/>
    </a>
  </div>
</div>
