/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-style: normal;
  background: #EEEEEE;
  font-size: 14px;
  height: 100vh;
}
